@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Mako');
.section{
  font-family: 'Mako', sans-serif;
}

.weigth{
  font-family: 'Alfa Slab One', cursive;
}
.margin{
    padding: 3%;
    width: 96%;
    border: none;
    border-bottom: 3px solid #333333;
    outline: none;
    background-color: white
}

.marginsup{
    margin: 3%;
}

.button-center{
  text-align: center;
}

.button-filter{
    background: none;
    color: black;
    border: none;
    font-size: 100%;
    margin:0%
}


.align-right{
  text-align: right;
  margin-right: 0%;
  padding-right: 0%
}

.button-count{
  color: black;
  background: rgb(255, 167, 3);
  border: none;
  font-weight: 900;
  font-size: 100%;
  padding: 3%;
  border-radius: 80px
}

img{
  width: 80px; 
  height: auto;
  background: white
}

.addOrden{
  background: #2C5BA3;
  color: white;
  border: none;
  border-radius: 2px
}

.width{
  width: 100%
}

.background-white{
  background: white;
  border-radius: 2px;
  border-bottom: 2px solid #2C5BA3
}

.centrar1{
  display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.background-blue{
  background: #ffffff
}

.margin-div{
  margin-bottom: 5%;
  width: 100%
}

.margin-filter{
  border-right: 4px solid black;
}

.margin-filter-bottom{
  border-bottom: 4px solid black;
}

.div-center{
  text-align: center;
  margin-top: 3%;
  margin-left: 40px
}

.div-centerhijo {
  margin: auto;
}
