@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
.Navbar {
    width: 100%;
    font-family: 'Alfa Slab One', cursive;
  }

.margin-li{
    border-right: 2px solid white;
  }

.margin-left{
  margin-left: 20%;
  padding-left: 32%
}

.title{
  font-size: 80%
}

.principal{
  font-size: 200%;
  color: white
}

.margin-title{
  padding-left: 20%;
}

.option{
  color:white
}