@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
.Navbar {
    width: 100%;
    font-family: 'Alfa Slab One', cursive;
  }

  /* .margin-top{
    margin-top: 2%
  }

  .color{
    color: #ffffff;
  }

  .color:hover{
    color: #ffffff;
    text-decoration: none;
  } */

  .margin-li{
    border-right: 2px solid white;
  }

  /* .a-center{
    text-align: center;
  }

.divmenu{
  width: 100%;
  text-align: center
} */

.margin-left{
  margin-left: 20%;
  padding-left: 32%
}

.title{
  font-size: 80%
}

.principal{
  font-size: 170%;
  color: white
}