@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
.Navbar {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    text-decoration-color: #ffffff;
    font-family: 'Alfa Slab One', cursive;
  }

  /* a{
    font-weight: 500;
    font-size: 110%;
  }

  .title{
    font-weight: 700
  } */

  .margin-top{
    margin-top: 2%
  }

  .color{
    color: #ffffff;
  }

  .color:hover{
    color: #ffffff;
    text-decoration: none;
  }

  .margin-div{
    border-right: 4px solid white;
  }

  .a-center{
    text-align: center;
  }