.margintop{
    margin-top: 3%;
}

.button-count{
    color: black;
    background: rgb(255, 167, 3);
    border: none;
    font-weight: 900;
    font-size: 100%;
    padding: 3%;
    border-radius: 80px
  }

.center{
    text-align: center;
}

.label{
    width: 100%
  }

.button-send{
    background: rgb(146, 8, 8);
    border: none;
    color: white;
    border-radius: 4px;
    padding: 2%
}

.margin-button-send{
    margin-top: 10%;
    text-align: right;
    margin-right: 5%
}

.margin-button-count-sum{
    margin-right: 10%
}

.margin-button-count-substr{
    margin-left: 10%
}

.button-delete{
    color: white;
    background: #CF2728;
    border: none
}

input{
    border: 1px solid #333333;
    border-radius: 4px;
    width: 40%;
  }

.margin-option{
    margin-top: 3%;
    margin-bottom: 3%
}

.margin-orden{
    padding-left: 45%
}

.margin-total{
    padding-left: 9%
}

.font-mayor{
    font-size: 85%
}

.font-menor{
    font-size: 85%
}

@media only screen and (min-width: 769px) {
    .font-mayor{
        font-size: 100%
    }

    .font-menor{
        font-size: 100%
    }
  }


