@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: none;
  /* font-family: 'Lato', 'Helvetica Neue', sans-serif; */
  font-family:'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: antiquewhite;
}

.height{
  height: 100vh;
  width: 100%;
}

