@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none
}

a:hover {
  text-decoration: none;
  color: antiquewhite;
}

